/*初始化*/
*{
	padding: 0;
	margin: 0;
	/*盒子模型*/
	box-sizing: border-box;
}
body{
	font-family: "Poppins",sans-serif;
	/*溢出隐藏*/
	overflow: hidden;
}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}
.container{
	width: 100vw;
	height: 100vh;
	/*网络布局*/
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}
.img-box{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.img-box img{
	width: 500px;
}
.login-box{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*文字居中*/
	text-align: center;
}
.login-box img{
	height: 100px;
}
form{
	width: 360px;
}
.login-box h2{
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-box .input-box{
    /* 相对定位 */
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9 ;
}
.login-box .input-box user{
	margin-top: 0;
}
.i{
	color: #d9d9d9;
	 /*弹性布局 水平 垂直居中*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.i i{
	transition: .3s;
}
.input-box > div{

	position: relative;
	height: 45px;
}
.input-box > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}
.input-box::before, .input-box::after{
	content: "";
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}
.input-box::before{
	right: 50%;
}
.input-box::after{
	left: 50%;
}
.input-box.focus::before,.input-box.focus::after{
	width: 50%;
}
.input-box.focus > div >h5{
	top: -5px;
	font-size: 15px;
}
.input-box.focus > .i >i{
	color: #38d39f;
}
.input-box > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	/*点击输入框 边框消失*/
	outline: none;
	padding: 0.5rem 0.7rem;
	background: none;
	font-size: 1.2rem;
	color: #555;
	font-family: 'position',sans-serif;
}
.input-box password{
    margin-bottom: 4px;
}
a{
	display: block;
	text-align: right;
	/*下划线消失*/
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}
a:hover{
	color: #38f39f;
}
.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,#32be8f,#32b39f,#32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    /* 鼠标放上变小手 */
    cursor: pointer;
    transition: .5s;    
}
.btn:hover{
    background-position: right;
}

@media  screen and (max-width: 1050px){ 
    .container{
        grid-gap: 5rem;
    }
}

@media  screen and (max-width: 1000px){ 
    form{
        width: 290px;
    }
    .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img{
        width: 400px;
    }
}

@media  screen and (max-width: 900px){ 
    .container{
        grid-template-columns: 1fr;
    }
    .img{
        display: none;
    }
    .wave{
        display: none;
    }
    .login-content{
        justify-content: center;
    }
}