body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

header {
    display: flex;
    width: 100%;
    background-color: greenyellow;
}

.container {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    height: 10%;
    justify-content: center;
}

.nav-list input {
    display: flex;
    position: relative;
    opacity: 0;
}

.nav-list ul li {
    position: relative;
    float: left;
    padding: 20px;
    font-size: 1.2rem;
    left: -10%;
    justify-content: center;
    list-style-type: none;
}

.nav-list ul li a {
    text-decoration: none;
    color: white;
}

.nav-list ul li .active {
    color: #000;
}